<p>Remplissez le fromulaire</p>

<p>Saisie du compte client</p>
<br><label>Nom</label>
<input [(ngModel)]="nom"/>
<br><label>Prénom </label>
<input [(ngModel)]="prenom"/>
<br><label>Adresse </label>
<input [(ngModel)]="adresse"/>
<br><label>Code postale </label>
<input [(ngModel)]="cp"/>
<br><label>Ville </label>
<input [(ngModel)]="ville"/>
<br><label>Pays </label>
<input [(ngModel)]="pays"/>
<br><label>Numéro de téléphone </label>
<input [(ngModel)]="tel"/>
<br><label>Adresse mail </label>
<input [(ngModel)]="email"/>
<br><label>Civilité </label>
<select [(ngModel)]="civilite">
    <option value=""></option>
    <option value="M">M</option>
    <option value="Mme">Mme</option>
</select>
<br><label>Login </label>
<input [(ngModel)]="login"/>
<br><label>Mots de passe </label>
<input type="password" [(ngModel)]="password"/>
<label> Confirmation </label>
<input type="password" [(ngModel)]="confirmPassword"/>
<br>
<br>


<button infos="" (click)="valider()">Valider</button>
<br>
{{infos}}
<br>
{{infoPassword}}
<br>
<app-recap [nom]='nom' [prenom]='prenom' [cp]='cp' [email]='email' [adresse]='adresse' [ville]='ville' [tel]='tel' [civilite]='civilite' [login]='login' [pays]='pays'></app-recap>